$font-size-primary:         16px;

$font-size-xs: 14px;
$font-size-sm: 18px;
$font-size-md: 24px;
$font-size-lg: 32px;
$font-size-xl: 48px;


$fw-regular: 400;

$white-color: #FFF;

$black-color-100: #616572;
$black-color-200: #2B2C37;
$black-color-300: #212428;

$white-color-100: #FAFAFA;
$white-color-200: #F0F2F6;

$blue-color: #4485D1;
$orange-color: #EB7B55;











$breakpoint-s:    576px;
$breakpoint-m:    768px;
$breakpoint-l:    992px;
$breakpoint-xl:   1200px;
$breakpoint-xxl:  1440px;