.header-top {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0 20px 0;
    }
    &__info {
        display: flex;
        align-items: center;
    }
    &__phone {
        margin: 0 40px 0 65px;
    }
    &__email {
        color: $blue-color;
    }
}

.header-search {
    flex-basis: 32.3%;
    &__form {
        position: relative;
        display: flex;
    }
    &__input {
        width: 100%;
        padding: 9.5px 46px 9.5px 20px;
        border: 1px solid $white-color-300;
        border-radius: 4px;
        &::placeholder {
            font-size: $font-size-xs;
            line-height: 21px;
        }
    }
    &__btn {
        position: absolute;
        right: 14px;
        top: 5px;
    }
}

.menu {
    position: relative;
    background: $white-color-100;
    padding: 18px 0 18px 0;
    &__list {
        display: flex;
        justify-content: space-between;
        &-item {
            &:hover {
                .sub-menu {
                    transform: translateY(0);
                }
            }
        }
    }
}

.sub-menu {
    transform: translateY(-199%);
    position: absolute;
    top: 39px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    height: 400px;
    padding: 18px 0 0 0;
    &__wrapper {
        background: url(../assets/svg/sub-menu-bg.svg) right no-repeat $white-color;
        height: 100%;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }
    &__list {
        width: 250px;
        &-item {
            & + & {
                margin-top: 20px;
            }
        }
        &-link {
            line-height: 27px;
            transition: $transition;
            &:hover {
                color: $orange-color;
            }
        }
    }
    &__img-block {
        padding: 0 15px 0 0;
    }
}
