.main-slider
    .swiper-container
        .swiper-wrapper
            .swiper-slide 
                .main-slider__slide 
                    .container 
                        .main-slider__slide-banner.slide-banner 
                            h1.slide-banner__title станции катодной защиты пкз-ар 
                            p.slide-banner__text Включён в реестр МТР ПАО 
                            .slide-banner__row 
                                .slide-banner__col 
                                    p.slide-banner__text <div>Сертификат</div> интергазсерт
                                .slide-banner__col 
                                    p.slider-banner__text <div>Гарантия</div> 3 года
                                .slide-banner__col 
                                    p.slider-banner__text <div>Срок службы</div> до 25 лет
            .swiper-slide 
            .swiper-slide 
                
        .swiper-button-prev
        .swiper-button-next