.main-slider
    .swiper-container.main-slider__wrapper
        .swiper-wrapper
            .swiper-slide 
                .main-slider__slide 
                    .container 
                        .main-slider__slide-banner.slide-banner 
                            h1.main-slider__title станции катодной защиты пкз-ар 
                            p.slide-banner__text.slide-banner__text--big Включён в реестр МТР ПАО «Газпром» и ОВП ПАО «Транснефть»
                            .slide-banner__row 
                                .slide-banner__col 
                                    h4.slide-banner__title Сертификат
                                    p.slide-banner__text.slide-banner__text--uppercase интергазсерт
                                .slide-banner__col 
                                    h4.slide-banner__title Гарантия 
                                    p.slide-banner__text 3 года
                                .slide-banner__col 
                                    h4.slide-banner__title Срок службы 
                                    p.slide-banner__text до 25 лет
            .swiper-slide 
                .main-slider__slide 
                    .container 
                        .main-slider__slide-banner.slide-banner 
                            h1.main-slider__title станции катодной защиты пкз-ар 
                            p.slide-banner__text.slide-banner__text--big Включён в реестр МТР ПАО «Газпром» и ОВП ПАО «Транснефть»
                            .slide-banner__row 
                                .slide-banner__col 
                                    h4.slide-banner__title Сертификат
                                    p.slide-banner__text.slide-banner__text--uppercase интергазсерт
                                .slide-banner__col 
                                    h4.slide-banner__title Гарантия 
                                    p.slide-banner__text 3 года
                                .slide-banner__col 
                                    h4.slide-banner__title Срок службы 
                                    p.slide-banner__text до 25 лет
            .swiper-slide 
                .main-slider__slide 
                    .container 
                        .main-slider__slide-banner.slide-banner 
                            h1.main-slider__title станции катодной защиты пкз-ар 
                            p.slide-banner__text.slide-banner__text--big Включён в реестр МТР ПАО «Газпром» и ОВП ПАО «Транснефть»
                            .slide-banner__row 
                                .slide-banner__col 
                                    h4.slide-banner__title Сертификат
                                    p.slide-banner__text.slide-banner__text--uppercase интергазсерт
                                .slide-banner__col 
                                    h4.slide-banner__title Гарантия 
                                    p.slide-banner__text 3 года
                                .slide-banner__col 
                                    h4.slide-banner__title Срок службы 
                                    p.slide-banner__text до 25 лет
                
        .swiper-button-prev.main-slider__prev
            img.main-slider__arrow(src="tpl/assets/svg/slider-arrow-left.svg", alt="")
        .swiper-button-next.main-slider__next 
            img.main-slider__arrow(src="tpl/assets/svg/slider-arrow-right.svg", alt="")