include ../ico/ico

mixin more-detailed (href, modifier)
    a.more-detailed(href= href class= modifier)
        span.more-detailed__text Подробнее
        .more-detailed__circle
            +ico('round-arrow')
