include ../ico/ico

mixin more-detailed (href, modifier1, modifier2)
    a.more-detailed(href= href class= modifier1)
        span.more-detailed__text Подробнее
        .more-detailed__circle(class= modifier2)
            +ico('round-arrow')
