.product {
    padding: 80px 0;
    &__title {
        margin-bottom: 30px;
    }
}
.card-product {
    position: relative;
    background: $white-color-200;
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 40px 40px 40px 40px;
    &__block-img {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    &__title {
        @include ObjektivMk1();
        font-weight: $fw-bold;
        margin-bottom: auto;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(../assets/svg/semicircle-bg.svg) top right / auto no-repeat,
        $orange-color url(../assets/svg/segment-circle-bg.svg) no-repeat 13px -17px / contain;
    }
}