.product {
    overflow: hidden;
    padding: 80px 0;
    &__title {
        margin-bottom: 30px;
    }
}
.product-slider {
    .swiper-container {
        overflow: visible;
    }
    .swiper-slide {
        width: 341px;
    }
}
.card-product {
    position: relative;
    background: $white-color-200;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    padding: 40px 40px 40px 40px;
    cursor: pointer;
    &__block-img {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    &__title {
        @include ObjektivMk1();
        font-weight: $fw-bold;
        margin-bottom: auto;
    }
    &__block-link {
        position: relative;
        z-index: 10;
    }
    &:hover {
        .product-info--active {
            opacity: 1;
        }
        .more-detailed {
            color: $white-color;
            .more-detailed__circle {
                border: 1px solid $white-color;
                svg {
                    stroke: $white-color;
                }
            }
        }
    }
}
.product-info {
    &--active {
        opacity: 0;
    }
    transition: $transition;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../assets/svg/semicircle-bg.svg) top right / auto no-repeat,
        $orange-color url(../assets/svg/segment-circle-bg.svg) no-repeat 13px -17px / contain;
    color: $white-color;
    padding: 40px;
    &__title {
        @include ObjektivMk1();
        font-size: $font-size-md;
        line-height: 36px;
        color: $white-color;
        margin-bottom: 20px;
    }
    &__text {
        line-height: 24px;
    }
}