.product {
    padding: 80px 0;
    &__title {
        margin-bottom: 30px;
    }
}
.card-product {
    position: relative;
    background: $white-color-200;
    display: flex;
    flex-direction: column;
    width: 341px;
    height: 400px;
    padding: 40px 40px 40px 40px;
    cursor: pointer;
    &__block-img {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    &__title {
        @include ObjektivMk1();
        font-weight: $fw-bold;
        margin-bottom: auto;
    }
    &__block-link {
        position: relative;
        z-index: 10;
    }
    &:hover {
        .product-info--active {
            opacity: 1;
        }
    }
}
.product-info {
    &--active {
        opacity: 0;
    }
    transition: $transition;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../assets/svg/semicircle-bg.svg) top right / auto no-repeat,
        $orange-color url(../assets/svg/segment-circle-bg.svg) no-repeat 13px -17px / contain;
    color: $white-color;
    padding: 40px;
    &__title {
        @include ObjektivMk1();
        font-size: $font-size-md;
        line-height: 36px;
        color: $white-color;
        margin-bottom: 20px;
    }
    &__text {
        line-height: 24px;
    }
}