include ../../components/more-detailed/more-detailed

.about-company
    .container 
       h2.about-company__title О компании
       .about-company__block
            .about-company__block-left
                p.about-company__text.about-company__text--left ООО «ЦИТ — Э.С.» разрабатывает и производит оборудование для электрохимической защиты трубопроводов и других подземных металлических сооружений от коррозии.
                +more-detailed('#', 'more-detailed--orange')
            .about-company__block-right
                .about-company__row 
                    .about-company__col 
                        span 7
                        p.about-company__text производственных участков
                .about-company__row 
                    .about-company__col
                        span c 2002
                        p.about-company__text года на рынке
                    .about-company__col
                        span 20 000
                        p.about-company__text единиц оборудования