include ../../components/more-detailed/more-detailed

.news
    .container 
        h2.news__title Новости
        .news__block
            .news__main-news.main-news
                h4.main-news__title Участие ООО «ЦИТ-Э.С». в 22-ой выставке-конгрессе «Защита от коррозии»
                p.main-news__text Мы приглашаем посетить наш стенд (павильон F, стенд № С.1) в период с 18 по 20 ноября в Санкт-Петербурге в КВЦ «ЭКСПОФОРУМ» в рамках конгресса «Защита от коррозии-2020»
                p.main-news__data 19 ноября
            .news__list.list-news
                .list-news__item 
                    p.list-news__text ООО «ЦИТ-Э.С». примет участие в 23-ей выставке «Защита от коррозии-2020»
                    p.list-news__date 19 ноября
                .list-news__item 
                    p.list-news__text Получен сертификат соответствия СМК требованиям СТО Газпром.
                    p.list-news__date 19 ноября
                .list-news__item 
                    p.list-news__text Получен сертификат соответствия СМК требованиям СТО Газпром 9001–2018. Получен сертификат соответствия СМК требованиям СТО Газпром 9001–2018.
                    p.list-news__date 19 ноября
                +more-detailed('#')