- const menuItems1 = ['О компании', 'Товарные знаки', 'Награды', 'Отзывы', 'Вакансии']
- const menuItems2 =  ['Станции катодной защиты ПКЗ-АР', 'Оборудование ЭХЗ', 'Телеметрия ЭХЗ', 'Комплекс телемеханики', 'Приборы']
- const menuItems3 = ['Свидетельства', 'Патенты', 'Сводные данные', 'Членство']
- const menuItems4 = ['Чертежи', 'Схемы', 'Правила', 'Нормы', 'Форма для скачивания']

//-  Mixin
mixin footer-column (title, arr = [])
	.footer-menu__col
		h4.footer-menu__title= title
		ul.footer-menu__list
			each menuItem in arr 
				li.footer-menu__list-item 
					a.footer-menu__list-link(href="#")= menuItem 

footer.footer
	.container
		.footer__body 
			nav.footer__menu.footer-menu 
				+footer-column('О компании', menuItems1)
				+footer-column('Продукция', menuItems2)
				+footer-column('Сертификаты', menuItems3)
				+footer-column('Проектировщикам', menuItems4)
				+footer-column('Обслуживание')
				+footer-column('Новости')
				+footer-column('Контакты')
			.footer__contacts.footer-contacts
				.footer-contacts__row 
					a.footer-contacts__phone(href="tel:+78452692196") +7 (8452) 69-21-96
				.footer-contacts__row 
					a.footer-contacts__text.footer-contacts__text--blue(href="mailto:kom@cit-es.ru") kom@cit-es.ru 
				.footer-contacts__row 
					p.footer-contacts__text 410010, Саратов,
					p.footer-contacts__text 1-й Пугачёвский посёлок, 44-б
				.footer-contacts__row 
					p.footer-contacts__text С пн по пт: 09:00–17:00
					p.footer-contacts__text Сб, вс — выходной
		.footer__bottom 
			p.footer__copyright © 2005–2021, Группа компаний «Центр Инновационных Технологий
			p.footer__developer Создание сайта — <span>nopreset</span>
				