@font-face {
	font-family: 'Objektiv-Mk1';
	src: url('../fonts/ObjektivMk1-Regular.eot');
	src: local('☺'), url('../fonts/ObjektivMk1-Regular.woff') format('woff'), url('../fonts/ObjektivMk1-Regular.ttf') format('truetype'), url('../fonts/ObjektivMk1-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald';
	src: url('../fonts/Oswald-Regular.eot');
	src: local('☺'), url('../fonts/Oswald-Regular.woff') format('woff'), url('../fonts/Oswald-Regular.ttf') format('truetype'), url('../fonts/Oswald-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
