body {
  @include ObjektivMk1();
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
  line-height: $line-height;
}
.page-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
h1,h2,h3,h4,h5 {
  @include Osvald();
  color: $black-color-200;
}
h1 {
  font-size: $font-size-xl;
  line-height: 72px;
}
h3 {
  font-size: $font-size-md;
}
h2 {
  font-size: $font-size-lg;
  line-height: 48px;
}
h4 {
  font-size: $font-size-sm;
  line-height: 27px;
}
h5 {
  @include ObjektivMk1();
  font-size: $font-size-primary;
  line-height: 24px;
}